.app-header__conteiner {
  display: flex;
  justify-content: center;
  background-color: #1976D2;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

.app-header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.app-header__logo-picture {
  height: 100px;
}

.app-header__logo-maintext {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
}
