<div class="app-table__main-conteiner">

  <h2 class="app-table__maintext">Clients Data Base</h2>

  <br>

  <div class="app-table__search-conteiner">
    <app-search (emitSearchName)="searchClient($event)"></app-search>
  </div>

  <br>
  <br>

  <div class="app-table__table-conteiner">
    <div class="app-table__table-data-base-conteiner">
      <app-table-data-base [(listClients)]="listClients"> </app-table-data-base>
      <!--<app-table-data-base [(listClients)]="listClients" (deleteClientId)="deleteClient($event)" (editeClientId)="editeClient($event)"> </app-table-data-base>-->
    </div>
  </div>
  </div>
